body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  padding: 40px;
  margin-bottom: 50px;
  background-color: #9c9898;
}

.picture-container {
  text-align: center;
  padding: 15px;
}

.picture {
  display: inline-block;
  text-align: center;
  margin: 0 20px; /* Add margin for spacing between pictures */
}

.picture img {
  max-width: 100%;
  height: auto;
}

.buy-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 50px;
  margin-left: 480px;
  max-width: 500px;
  max-height: 200px; /* Reduce the maximum height to limit cart size */
  
}

.cart h2 {
  font-size: 20px;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#pay-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
